.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 20px;
}

.screen-header__title {
  font-size: 25px;
  font-weight: 600;
}

.screen-header__icons span{
  margin-left: 10px;
}

.screen-header__inbox__notification {
  position: absolute;
  display: flex;
  width: 15px;
  height: 15px;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  color: white;
  font-size: 12px;
  border-radius: 8px;
  right: 125px;
  top:40px;
}
